/* ----------
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    COMMON
---------- */
.container {
    max-width: 1200px;
    margin: auto;
}

/* ----------
    DEBUG
---------- */
.debug .header-top {
    padding: 10px 0;
    background-color: #add8e6;
}
.debug .header-row {
    background-color: #daa520;
}
.debug .header-bottom {
    height: 500px;
    background-color: #00008b;
}
.debug .hero {
    height: 400px;
    width: 900px;
    background-color: #ee82ee;
}
.debug section:nth-child(2n) {
    background-color: #d3d3d3;
}
.debug .main-row {
    height: 600px;
}
.debug .last-row {
    height: 1000px;
}
/* ----------
    HEADER 
---------- */
.header-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}
.header-bottom {
    padding: 50px 0;
}

/* ----------
    MAIN 
---------- */
.main-row {
    display: flex;
    padding: 50px 0;
}
.col-image {
    width: 60%;
    background-color: #1e90ff;
}
.col-text {
    width: 40%;
    background-color: #ffc0cb;
}
.last-row {
    display: flex;
    padding: 50px 0;
}
.last-section {
    width: 100%;
    background-color: #228b22;
}