/* ----------
    RESET
---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------
    COMMON
---------- */
.container {
    max-width: 1200px;
    margin: auto;
}

/* ----------
    DEBUG
---------- */
.debug .header-top {
    padding: 10px 0;
    background-color: #add8e6;
}
.debug .header-row {
    background-color: #daa520;
}
.debug .header-bottom {
    height: 500px;
    background-color: #00008b;
}
.debug .hero {
    height: 400px;
    width: 900px;
    background-color: #ee82ee;
}
/* ----------
    HEADER 
---------- */

.header-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}

.header-bottom {
    padding: 50px 0;
}